<html>
    <body>
        {%for advertiser in advertiser_list%}
            <div style="width:80%;height:30%;border:1px solid gray; margin-top:10px;">
                <p>{{advertiser.name}}<p>
                <ul>
                    {% for ad in ad_list %}
                        {% if ad.advertiser == advertiser %}
                            <img href="../../../{{ad.imgUrl}}" style="width:20%;height:50%;" alt="sd" />
                            <li><a href="{{ ad.link }}/">{{ ad.title }}</a></li>
                        {%endif%}
                    {% endfor %}
                </ul>
            </div>
        {%endfor%}
    </body>
</html>


