
{% load rest_framework %}

<html><body>

<h1> new Ad </h1>

<form action="create_new/" method="post">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>

</body></html>

    {% comment %} <h1> new Ad </h1>
    <form action="/create_new/" method="post"> {% csrf_token %}
        <fieldset>
            <label for="advertiser"> Advertiser ID </label>
            <div>
                <input type='text' id="advertiser" name="advertiser"/>
            </div>

            <label for="image">Image</label>
            <div>
                <input type='text' id="image" name="image"/>
            </div>

            <label for="title">Title</label>
            <div>
                <input type='text' id="title" name="title"/>
            </div>

            <label for="url">URL</span>
            <div>
                <input type='text' id="url" name="url"/>
            </div>
            <div style="margin-top:20px"><button type="submit">SAVE</button></div>

        </fieldset>
    </form>
 {% endcomment %}
