{% load static %}
<html>
    <body>
        {%for advertiser in advertiser_list%}
            <div style="width:80%;height:30%;border:1px solid gray; margin-top:10px;">
                <p>{{advertiser.name}}<p>
                <div>
                     {% for ad in ad_list %}
                        {% if ad.advertiser == advertiser %}
                            <div style="float: left; width: 30%; padding: 5px;">
                            <img src="{{ad.imgUrl.url}}" style="width:60%;height:50%;" alt="ad img" />
                            <li><a href="/countClicks/{{ad.id}}">{{ ad.title }}</a></li>
                            </div>
                        {%endif%}
                    {% endfor %}
                </div>
            </div>
        {%endfor%}
        <a href="create_new">New Ad</a>
    </body>
</html>


